a:hover {
    text-decoration: none;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b2afaf;
    position: sticky;
    padding: 0 30px;
    top: 0;
    background: white;
}

div.logo {
    width: 5%;
    text-align: center;
    height: auto;
}

div.logo img {
    width: 100%;
}

div.navigator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 20px 0;
}

div.menu {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
div.menu > a.zinema {
    border-radius: 10px;
    width: 19%;
    text-align: center;
    outline: none;
    font-size: 18px;
    color: grey;
    font-weight: 600;
    line-height: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
div.menu > a.zinema:hover {
    background: none;
    box-shadow: 1px 1px 10px 1px #eeb9b9;
}

div.search {
    width: 28%;
}
div.search form{
    display: grid;
    grid-template-columns: 2fr .8fr;
    width: 100%;
    gap: 10px;
}
div.search input {
    padding: 8px;
    border-radius: 10px;
    outline: none;
    margin-right: 10px;
    border: 1px solid grey;
}
div.search button.zinema {
    padding: 8px 3px;
    border-radius: 10px;
    background: red;
    outline: none;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
}
div.search button.zinema:hover {
    background: white;
    color: black;
    box-shadow: 1px 1px 10px 1px #eeb9b9;
}
div.user img{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* the body of catalogue */
section.zinema {
    padding: 0 30px;
    width: 98%;
    margin: 0 auto;
    background: none;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

section.zinema .movie-catalogue {
    width: 100%;
    background: none;
    text-align: center;
    margin: 10px;
    padding: 5px 0;
}
.movie-catalogue > a {
    text-decoration: none;
    background: none;
}

.movie-catalogue > a img {
    width: 100%;
    background: none;
    border-radius: 10px;
    outline: 1px solid grey;
}

.movie-catalogue > p {
    color: grey;
    text-transform: capitalize;
    background: none;
    margin: 5px auto;
    text-align: center;
    font-size: 1.2em;
    font-family: sans-serif;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.movie-catalogue > button.zinema {
    padding: 10px 5px;
    outline: none;
    border: none;
    background: red;
    color: white;
    font-size: 1.2em;
    font-family: sans-serif;
    font-weight: 600;
    width: 90%;
    border-radius: 10px;
}
.movie-catalogue > button.zinema:hover {
    background: white;
    box-shadow: 1px 1px 10px -2px red;
    color: red;
}

footer {
    display: none;
    background: whitesmoke;
    width: 100%;
    padding: 10px 15px;
    gap: 5px;
    border-radius: 10px;
}
footer button.zinema {
    background: none;
    text-align: center;
    width: 100%;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 10px;
}
footer button.zinema:hover {
    box-shadow: 1px 1px 10px -1px red;
}

footer button.zinema > p {
    color: grey;
    background: none;
    white-space: nowrap;
    font-size: 1em;
    font-weight: 200;
    margin: 10px 0;
}
footer button.zinema > i {
    color: grey;
    background: none;
    font-weight: bolder;
}

@media screen and (max-width: 1300px){
    div.menu{
        width: 60%;
    }
    div.navigator{
        width: 90%;
    }
    div.search form{
        width: 90%;
        gap: unset;
    }
}

@media screen and (max-width: 990px) {
    div.menu,
    div.search {
        display: none;
    }
    nav{
        padding: 0 10px;
    }
    div.navigator {
        flex-direction: row-reverse;
        padding: unset;
    }
    div.logo {
        width: 100px;
    }
    div.user img{
        width: 60px;
        height: 60px;
    }

    /* mobile view for catalogue section.zinema */
    section.zinema {
        width: 100%;
    }

    .movie-catalogue > p {
        font-weight: 600;
    }
    .movie-catalogue > button.zinema {
        font-weight: 300;
    }

    /* mobile view for catalogue footer*/
    footer {
        display: flex;
        justify-content: space-between;
        position: sticky;
        bottom: 0;
    }
}